:root {
  --cor-azul-ciano-gradiente1: #bfcad9; /* 1 cor do linear gradiente 0% */
  --cor-azul-ciano-gradiente2: #2585d9; /* 2 cor do linear gradiente 100% */
  --cor-azul-escuro-principal: #040446; /* azul principal do site (botões, inputs e etc. */
  --cor-input-paraDark: #040446;
  --cor-padrao: #ffffff; /* branco padrão do site */

  --cor-alerta-js: #ff0000; /* msg de alerta pelo js */
  --cor-bg-none: transparent; /* fundo transparent para os inputs */
  --cor-bg-container: rgba(255, 255, 255, 0.4); /* fundo do container principal */
  --cor-bg-shadow: rgba(0, 0, 0, 0.1); /* box-shadow do container */
}

body.dark-mode { /* dark mode controlado pelo js */
  --cor-azul-ciano-gradiente1: #0A1C43; /* 1 cor do linear gradiente 0% */
  --cor-azul-ciano-gradiente2: #2D7BBF; /* 2 cor do linear gradiente 100% */
  --cor-azul-escuro-principal: #164194; /* azul principal do site (botões, inputs e etc. */
  --cor-input-paraDark: #ffffff;
  --cor-padrao: #ffffff; /* branco padrão do site */

  --cor-alerta-js: #ff0000; /* msg de alerta pelo js */
  --cor-bg-none: transparent; /* fundo transparent para os inputs */
  --cor-bg-container: rgba(255, 251, 251, 0.2); /* fundo do container principal */
  --cor-bg-shadow: rgba(0, 0, 0, 0.1); /* box-shadow do container */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
select {
  appearance: none;
  /* Remove estilos padrão do sistema operacional */
  -webkit-appearance: none;
  width: 100%;
  /* Facilita o controle via Grid/Flex */
  border: 1px solid var(--cor-bg-none);
  /* Base para bordas */
  background-color: var(--cor-bg-none);
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(
    180deg,
    var(--cor-azul-ciano-gradiente1),
    var(--cor-azul-ciano-gradiente2)
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-saga {
  margin: -80px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 300px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.logo-saga,
#troca img {
  display: flex;
}

/* Transformado em Grid para controlar os elementos soltos na coluna direita */
.full-container {
  display: flex;
  background: var(--cor-bg-container);
  min-height: 480px;
  max-width: 900px;
  width: 90vw;
  border-radius: 40px;
  box-shadow: 0 8px 32px var(--cor-bg-shadow);
  border: 1px solid var(--cor-padrao);
  overflow: visible;
  margin-top: 40px;
}

/* Coluna 1: Vidro na esquerda */
.glass-esquerda {
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  width: 55%;
  color: var(--cor-padrao);
}

.glass-esquerda h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.logintop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-bottom: 15px;
}
/* Coluna 2: Caixa branca */
.login-direito {
  background: var(--cor-padrao);
  border-radius: 80px 40px 40px 80px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45%;
}

#troca {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
}

#troca img {
  width: 22px;
  height: auto;
}

#areaform {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.perfil {
  width: 90px;
  height: auto;
  margin-bottom: 15px;
}

.groupGeral {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid var(--cor-input-paraDark);
}

.areaemail,
.areasenha {
  display: flex;
  flex-direction: column;
}

.groupGeral {
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
}

.areaemail img,
.areasenha img {
  width: 30px;
}

.areaemail input::placeholder,
.areasenha input::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: var(--cor-input-paraDark);
}

#alertaEmail,
#alertaSenha {
  color: var(--cor-alerta-js);
  margin-top: 3px;
  font-weight: 600;
  font-size: 12px;
}

.lembrarsenha {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--cor-input-paraDark);
}

#lembreMe {
  appearance: none;
  width: 20px;
  height: 20px;

  border: 2px solid var(--cor-input-paraDark);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#lembreMe:checked {
  background-color: var(--cor-azul-escuro-principal);
}

#lembreMe:checked::before {
  content: "✓";
  color: var(--cor-padrao);
  font-size: 14px;
  font-weight: bold;
}

.loginbtn {
  background-color: var(--cor-azul-escuro-principal);
  color: var(--cor-padrao);

  font-size: 1rem;
  font-weight: bold;
  margin: 15px auto 0 auto;
  padding: 12px;
  width: 70%;

  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 300ms ease;
}