:root {
  --cor-azul-claro-botao: #2298ff;
  --cor-azul-claro-inputs: #94bdf2;
  --cor-azul-escuro: #040446;
  --cor-azul-escuro-botao: #164194;
  --azul-modal-box: #c3d2e5;
  --linha-divisora: #b0a7a7;
}

main {
  margin-left: 90px;
  padding: 30px;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

/* =========================================
 HEADER MAIN
========================================= */

.main-header {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.header-main-relatorio{
display: flex;
flex-direction: column;
align-items: center;
}

/* =========================================
 BOTÃO NOVO RELATÓRIO
========================================= */

#btnNovoRelatorio {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 22px;

  border: none;
  border-radius: 30px;

  background: var(--cor-azul-escuro);

  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

#btnNovoRelatorio:hover {
  transform: scale(1.03);
}

#btnNovoRelatorio img {
  width: 16px;
}

/* =========================================
 EMPTY STATE
========================================= */

.empty-state-container {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 40px;
}

.empty-state-content {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;
}

.empty-state-content h1 {
  font-size: 28px;
  color: #111;
}

.relatorio-icon {
  width: 42px;
}

.alert-box {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 10px;

  opacity: 0.5;
}

.alert-box img {
  width: 70px;
}

.alert-box p {
  font-size: 14px;
}

/* =========================================
 MODAIS
========================================= */

.modal-form {
  border: none;

  border-radius: 18px;

  background: var(--azul-modal-box);

  padding: 0;

  overflow-y: auto; /*cria rolagem vertical automaticamente quando necessário*/

  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  margin: 0;

  max-height: 90vh; /*impede o modal de ultrapassar a tela*/
}
/* fundo escuro */

.modal-form::backdrop {
  background: rgba(0, 0, 0, 0.45);

  backdrop-filter: blur(2px);
}

/* =========================================
 MODAL PEQUENA
========================================= */

#modalTipoRelatorio {
  width: 420px;
}

/* =========================================
 HEADER MODAL PEQUENO
========================================= */

.modal-header {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border-bottom: 1px solid var(--azul-modal-box);
}

.modal-header h2 {
  font-size: 20px;
  color: #454545;
}

.btn-fechar {
  position: absolute;

  right: 20px;

  background: none;
  border: none;

  font-size: 42px;

  color: #454545;

  cursor: pointer;
}

/* =========================================
 BOTÕES MODAL PEQUENO
========================================= */

.modal-buttons {
  padding: 45px;

  display: flex;
  flex-direction: column;

  gap: 25px;
}

.modal-btndarkblue,
.modal-btnlightblue {
  height: 48px;

  border: none;
  border-radius: 30px;

  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.modal-btndarkblue {
  background: var(--cor-azul-escuro-botao);
}

.modal-btnlightblue {
  background: var(--cor-azul-claro-botao);
}

/* =========================================
 MODAIS GRANDES
========================================= */

#modalAtendGeral,
#modalAcompPed {
  width: 1020px;

  border-radius: 20px;
}

/* =========================================
 HEADER FORMULÁRIO
========================================= */

.modal-header-form {
  height: 70px;

  display: grid;

  grid-template-columns: 60px 1fr 60px;

  align-items: center;

  padding: 0 20px;

  border-bottom: 2px solid var(--azul-modal-box);
}

.modal-header-form h2 {
  color: var(--cor-azul-escuro);

  font-size: 22px;
  font-weight: 500;

  text-align: center;
}

/* =========================================
 BOTÕES HEADER
========================================= */

.btn-voltar,
.btn-fechar {
  background: none;

  border: none;

  color: var(--cor-azul-escuro);

  cursor: pointer;

   font-size: 42px;
}



/* =========================================
 FORMULÁRIO
========================================= */

.form-grid {
  padding: 35px 28px;

  display: flex;
  flex-direction: column;

  gap: 30px;
}

/* =========================================
 GRUPOS
========================================= */
.fieldgroup,
.fieldgroup-below {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;

  color: var(--cor-azul-escuro);
}

/* Campos de cima */
.fieldgroup {
  justify-content: flex-start;
}

/* Campos de baixo */
.fieldgroup-below {
  justify-content: center;
}

/* =========================================
 INPUTS E SELECTS
========================================= */

input,
select {
  height: 46px;

  padding: 0 16px;
}

input,
select,
textarea {

  border: 1.5px solid var(--cor-azul-escuro);
  background: var(--cor-azul-claro-inputs);
  color: var(--cor-azul-escuro);
  font-size: 15px;
  outline: none;
  border-radius: 18px;
  box-sizing: border-box;

}

/* tamanhos */

select {
  min-width: 180px;
}

input {
  min-width: 180px;
}

/* =========================================
 DIVISOR
========================================= */

.line-divider {
  border: none;

  height: 2px;

  background: var(--linha-divisora);
}

/* =========================================
 TEXTAREAS
========================================= */

.form-textareas {
  display: flex;

  gap: 20px;

}

.input-container {
  flex: 1;

  display: flex;
  flex-direction: column;

  gap: 10px;
}


textarea {
  /* Campos de mensagem extensa */
  height: 120px;

  resize: none;

  padding: 15px;

  border-radius: 18px;

  border: 1.5px solid var(--cor-azul-escuro);

  outline: none;

  font-size: 15px;
}

/* =========================================
 BOTÃO SALVAR
========================================= */

.btn-salvarAtendimento {
  width: 600px;
  height: 48px;

  margin: auto;

  border: none;
  border-radius: 30px;

  background: var(--cor-azul-escuro-botao);

  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s;
}

.btn-salvarAtendimento:hover {
  transform: scale(1.02);
}

